body {
    background-color: #a8dadc;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.head-section {
    color: #F1FAEE;
    display: auto;
    background-image: url("/Images/Imo\ State.jpg");
    background-size: cover;
    background-position: 100%; 
    padding: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.head-section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.head-section h1 {
    font-size: 36px;
    margin: 0;
}

.head-section h3 {
    font-size: 18px;
    margin-top: 10px;
}

 .btn {
    background-color: #F1FAEE;
    color: #1D3557;
    padding: 2px 5px;
    margin: 0;
    border: none;
    font-size: 14px;
}
 
 .activities-section {
    color: #1D3557;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
 }

img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.activity {
    background-color: #e63946;
    color: #F1FAEE;
    border-radius: 10px;
    padding: 20px;
    width: 25%;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}


.activity h4 {
    font-size: 20px;
    margin-top: 15px;
}

.activity p {
    color: #F1FAEE;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.avatar{
    width: 150px;
}
.card {
    width: 600px ;
    margin-right: auto;
    margin-left: auto;
    border: 2px dotted #1D3557;
    padding: 15px;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #a8dadc;
    color: black;
    border-bottom: 5px solid #e63946;

}

.item {
    background-color: #F1FAEE;
    color:#1D3557;
    border: 1%;
}
.border-blue {
    border: 2px dotted #1D3557
}